:not(img) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    transition: ease-in-out 1s;
}

.spinner {
    width: 100px;
    height: 100px;
    border: solid 5px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: grey;
    transition: 2s ease-in-out;
}

header {
    z-index: 2;
    background-color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

header nav ul {
    display: flex;
    list-style-type: none;
}

.icones {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;

}

.gauche {
    position: relative;
    left: 80%;
    cursor: pointer;
}

.linav {
    transition: ease-in-out 1s;
}

header nav ul li {
    padding: 0 20px;
    align-items: center;
}

header nav a {
    color: #323643;
    text-decoration: none;
    transition: color 1s ease-in-out;
    padding: solid 5px;
}

.orange.texte:hover {
    text-decoration: underline;
    color: rgb(157, 212, 230) !important;
}

/*
.orangebackground:hover {
    background-color: rgb(147, 208, 228) !important;
}
*/
.part {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.partmodif {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.partrow {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}


.container {
    margin-bottom: 100px;
    width: 1400px;
    height: 700px;
    position: relative;
}

.grandcontainer {
    margin-bottom: 100px;
    width: 1400px;
    height: 1800px;
    position: relative;
}

.petitcontainer {
    margin-bottom: 400px;
    width: 1400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.git {
    cursor: pointer;
}

.toutpetitcontainer {
    width: 1400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

#parcoursanchor {
    height: 40px;
}

.esp {
    margin-bottom: 50px;
    margin-top: 10px;
}

.petit {
    font-size: 15px;
}

.grand {
    font-size: 25px;
}

.titre {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #93DEFF;
    text-shadow: 4px 4px 0 black;
    font-weight: normal;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}


.toutpetitcontainer {
    margin-bottom: 100px;
    width: 1400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.texte {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: -2px;
    font-weight: 400;
    padding-left: solid 5px !important;
    padding-right: solid 5px !important;
}

.texteb {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: -2px;
    font-weight: 400;
    color: white !important;
    padding-left: solid 5px !important;
    padding-right: solid 5px !important;
}



#square19 {
    width: 600px;
    height: 300px;
    background-color: white;
    transition: ease-in-out 2s;
    border: 3px solid #F7F7F7;
    transition: 2s ease-in-out;
    border-radius: solid 5px;
}

#square20 {
    width: 600px;
    height: 300px;
    background-color: #F7F7F7;
    border: 3px solid #F7F7F7;
    transition: 2s ease-in-out;
    border-radius: solid 5px;
    transition: ease-in-out 2s;
}

#square1 {
    width: 200px;
    height: 300px;
    top: 0;
    left: 0;
}

#square1 {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 0;
    left: 0;
}

#projetanchor {
    height: 100px;
    margin-top: 350px;
}

.espace {
    margin: 50px;
}

.boutton {
    color: #ecf0f1;
    font-size: 17px;
    background-color: #93DEFF;
    border: 1px solid black;
    border-radius: solid 5px;
    padding: 10px;
    box-shadow: 0px 6px 0px black;
    transition: all .1s;
    position: absolute;
    bottom: 20px;
    left: 22.5%;
    color: black;
    border-radius: 2px;
}

.imgv {
    height: 300px;
    width: 300px;
}

.boutton:hover {
    background: linear-gradient(to bottom, #93DEFF 5%, rgb(76, 130, 229) 100%);
    background-color: #95bae7;
}

.boutton:active {
    box-shadow: 0px 2px 0px #476e9e;
    transform: translateY(1px)
}



#square2 {
    width: 800px;
    height: 250px;
    top: 80px;
    left: 40px;
    transition: 2s ease-in-out;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    padding-left: 170px;
    padding-top: 10px;
}

#square4 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 75px;
    left: 950px;
    background-color: #F7F7F7;
    border: 3px solid #F7F7F7;
    transition: 2s ease-in-out;
    border-radius: solid 5px;
}

#square18 {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 350px;
    left: 850px;
    background-color: #F7F7F7;
    border: 3px solid #F7F7F7;
    transition: 2s ease-in-out;
    border-radius: solid 5px;

}


#square5 {
    width: 450px;
    height: 150px;
    position: absolute;
    top: 350px;
    left: 250px;
    background-color: #F7F7F7;
    border: 3px solid #F7F7F7;
    transition: 2s ease-in-out;
    border-radius: solid 5px;
}


#pprofil {
    border-radius: solid 5px;
    z-index: 1;
    border: 1px solid #F7F7F7;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.line {
    height: 900px;
    width: 2px;
    background-color: #000;
    margin: 0 auto;
}

.rond {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #323643;
    background-color: #93DEFF;
}

#rond1 {
    top: 100px;
    left: 675px;
}

#rond2 {
    top: 300px;
    left: 675px;
}

#rond3 {
    top: 500px;
    left: 675px;
}

#rond4 {
    top: 700px;
    left: 675px;
}

#square6 {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;

}

.coupure {
    clip-path: polygon(0 20%, 100% 50%, 100% 80%, 0 50%);
    background-color: #000;

}

#square7 {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 250px;
    left: 850px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;


}

#square8 {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 450px;
    left: 0px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;

}

#square9 {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 850px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
}

#square10 {
    width: 1500px;
    height: 400px;
    background-color: white;
    border: 3px solid #F7F7F7;
    border-radius: 20px;
}

#square11 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #93DEFF;
    border: 3px solid;
    border-radius: 10px;
    border-color: #000;
    text-align: center;
}

#square12 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 450px;
    background-color: #93DEFF;
    border: 3px solid;
    border-radius: 10px;
    border-color: #000;
    text-align: center;
}

#square13 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 850px;
    background-color: #93DEFF;
    border: 3px solid;
    border-radius: 10px;
    border-color: #000;
    text-align: center;
}

#square14 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 1250px;
    background-color: #93DEFF;
    border: 3px solid;
    border-radius: 10px;
    border-color: #000;
    text-align: center;
}

#square15 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 1250px;
    background-color: #93DEFF;
    border: 3px solid;
    border-radius: 10px;
    border-color: #000;
    text-align: center;
}


#square17 {
    width: 250px;
    height: 100px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;

}

#square21 {
    width: 500px;
    height: 200px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 50px;
    top: 150px;
}


#square22 {
    width: 600px;
    height: 150px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 600px;
    top: 250px;
}

#square23 {
    width: 250px;
    height: 200px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 200px;
    top: 400px;
}

#square24 {
    width: 500px;
    height: 200px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 550px;
    top: 500px;
}

#square25 {
    background-color: white;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 300px;
    top: 50px;
}

#square26 {
    width: 450px;
    height: 100px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 800px;
    top: 150px;
}

#square27 {
    width: 450px;
    height: 150px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 400px;
    top: 650px;
}

#square28 {
    width: 600px;
    height: 100px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    border-radius: solid 5px;
    position: absolute;
    left: 750px;
    top: 500px;
}

#square29 {
    width: 600px;
    height: 100px;
    border-radius: solid 5px;
}

#square30 {
    width: 600px;
    height: 150px;
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    position: absolute;
    left: 050px;
    top: 100px;
}

#square31 {
    background-color: #93DEFF;
    border: 3px solid #F7F7F7;
    padding: 10px;
    border-radius: 10px;

}

.card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card-content p {
    font-size: 0.9em;
    line-height: 1.6;
    margin: 0 0 20px;
}

.card-content a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-content a:hover {
    background-color: #45a049;
}

.veilcont {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}