:not(img) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

header {
    background-color: rgb(16, 10, 1);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    padding: 0 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    transition: color 1s ease-in-out;
    padding: 5px;
}

.orange.texte:hover {
    text-decoration: underline;
    color: orange !important;
}

.orangebackground:hover {
    background-color: orange !important;
}

#part1 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

}

.container {

    width: 800px;
    height: 300px;
    position: relative;
}

.square1 {
    position: absolute;
}

.square2 {
    transition: 2s ease-in-out;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: 3px solid rgb(109, 53, 0);
    border-radius: 5px;
    padding-left: 170px;
    padding-top: 10px;
}

.square1.top {
    width: 200px;
    height: 300px;
    top: 0;
    left: 0;
}

.square2.center {

    width: 800px;
    height: 250px;
    top: 80px;
    left: 40px;
}

#pprofil {
    border-radius: 5px;
    z-index: 2;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}